<router-outlet></router-outlet>
<div class="grid-container">
  <h1 class="mat-h1">Your photos</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile routerLink="{{photo.id}}" *ngFor="let photo of photos" [colspan]="photo.cols" [rowspan]="photo.rows">
      <mat-card class="dashboard-card card-image" [style.background-image]="getFigure(photo.img)">
        <mat-card-header class="mat-app-background card-title">
          <mat-card-title>
            {{photo.geolocation}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle class="mat-app-background card-subtitle">
          <div>{{photo.camera}}</div>
        </mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
